{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('Css/form.css') }}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">{% endblock %}

{%  block body %}
<div class="bandeau"></div>
    <div class="container">

        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 " id="contenu">
          <h3>Frais Forfait</h3>
          <div class="container">
            <div class="row">
            {% block contenu %}{% endblock %}
            </div></div>
          </div>
        </div>
    </div>
     <script language="javascript" src="{{ asset('JavaScript/verificationFiche.js') }}"></script>
{% endblock %}