body, html
{
	height: 100%;
	background-color: #eee;
}
.container
{
	width: 100%;
}
div.bandeau
{
	height: 50px;
}
div.bandeau-small
{
	height: 20px;
}

#contenu, .contenu
{
	background-color: #fff;
	border: 1px solid #DDDDDD;
	border-width: 1px;
	border-color: #DDDDDD;
	padding: 10px 15px;
	border-radius: 4px;
	overflow:auto;
	min-height: 100%

}
@media(min-width:768px){
	.container-principale{
		margin-left: 260px;
	}
}
#menu-toggle {
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	float: left;
	position: absolute;
	margin-left: 5px;
	margin-top: 5px;
	z-index: 98;
}

 #form_mois_day
 {
	 visibility: hidden;
	 width: 0px;
 }
.lien-fiche {
	display: block;
	color: black;
	border: 1px solid #DDDDDD;
	padding: 10px 15px;
	border-width: 1px;
	border-color: #DDDDDD;
	border-radius: 4px;
}
.lien-fiche:hover
{
	background-color: #fcfcfc;
	text-decoration: none;
}

.lien-tableau:hover
{
	background-color: #fcfcfc;
}
img
{
	height: 130px;
	width: auto;
}

table, .table
{
	margin-bottom: 0px;
	margin-top: 0px;
}
#wrapper
{
	min-height:50px;
}

footer {
	background-color: #101010;
	color: #99979C;
	text-align: center;
	height: 50px;
}