{% extends '::base.html.twig' %}

{% block title %}{% endblock %}

    {% block elementNavbar %}
        <li>
            <a href="{{ path('utilisateur_saisirFrais')}}">Acceuil</a>
        </li>
        <li>
            <a href="{{ path('lignefraisforfait_ajouter')}}">Saisir frais forfaitaire</a>
        </li>
        <li>
            <a href="{{ path('lignefraishorsforfait_ajouter')}}">Saisir frais non forfaitaire</a>
        </li>
        <li>
            <a href="{{ path('utilisateur_rechercherFiche')}}">Rechercher fiche</a>
        </li>

    </header>
{% endblock %}

{%  block body %}{% endblock %}
