<li>
    <a href="{{ path('utilisateur_saisirFrais')}}">Acceuil</a>
</li>
<li>
    <a href="{{ path('utilisateur_lignefraisforfait',{'operation' : 'ajouter', 'idLigneFraisForfait' : 0}) }}">Saisir frais forfaitaire</a>
</li>
<li>
    <a href="{{ path('utilisateur_lignefraishorsforfait',{'operation' :' ajouter', 'idLigneFraisHorsForfait' : 0}) }}">Saisir frais non forfaitaire</a>
</li>
<li>
    <a href="{{ path('utilisateur_rechercherfichefrais')}}">Rechercher fiche</a>
</li>
