{% extends 'GestionFraisBundle::rechercher.html.twig' %}

{% block title %}Rechercher frais forfait{% endblock %}
{% block titrePage %}Rechercher frais forfait{% endblock %}
{% block contenue %}

    <h4>Frais forfaits :</h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th><p>Libelle </p></th>
            <th><p>montant</p></th>

            <th><p>Action</p></th>
        </tr>
        </thead>
        <tbody>
        {% for unFraisForfait in lesFraisForfaits %}
            <tr>
            <td><p>{{ unFraisForfait.libellefraisforfait }}</p></td>
            <td><p>{{ unFraisForfait.montant }}</p></td>

            <td>
                <a href="{{ path( 'admministrateur_fraisforfait',{'operation':'modifier', 'idFraisForfait': unFraisForfait.id}) }}">Modifier</a>
                </a>
            </td>

        {% else %}
            <tr><p>Aucune fiches trouvées</p></tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}